/* body 
{
    background-image: url("images/login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */

/* Above code for background image */
body
{
    background-color: darkcyan;
}

.role-div
{
    background-color: #F6F6F2;
    color: #388087;
    text-align: center;
    width: 500px;
    height: 450px;
    margin: 120px 490px;
    border: black 2px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading
{
    font-size:50px;
    font-family: 'Ubuntu', sans-serif;
}

.choose
{
    font-size: 30px;
    line-height: 2px;
    font-family: 'Montserrat', sans-serif;
}

button
{
    font-size: 25px;
    padding: 10px 24px;
    border: solid black 2px;
    border-radius: 5px;
}
  
 input.choose
 {
    width: 20px;
    height: 20px;
 } 
