.chat_icon{
    position: fixed;
    right: 30px;
    bottom: 68px;
    font-size: 80px;
    color: #74360d;
    cursor: pointer;
    z-index: 100;
    height: 100px;
}

.chat_box{
    position: fixed;
    right: 20px;
    bottom: 90px;
    width: 400px;
    height: 89vh;
    background: bisque;
    z-index: 1000%;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}

.chat_box.active{
    transform: scaleY(1);
}

.hidden{
    display: none !important;
}

.conv-form-wrapper textarea{
    height: 30px;
    overflow: hidden;
    resize: none;
    
}

#messages{
    padding: 20px;
}

.bg{
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
    
    position: fixed;
    top: 0;
    left: 0;
}

.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
    opacity: 4;
    bottom: 0;
    right: 10px;
    position: relative;
    position: fixed;
    font-size: 20px;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
